

<ion-view style="background-color:#f8f8f8;" hide-back-button="true" hide-nav-bar="true" title='' ng-controller="DeleteEmployeeCtrl" hide-tab-bar>
  <ion-header-bar align-title="center" class="bar-opacity" >
    <div class="buttons" back-icon-transition>
        <a ng-click="back()">
            <button class="button back-button buttons button-clear button-light button-icon ion-ios-arrow-left header-item" style="color:#333"> </button>
        </a>
    </div>

    <h1 class="title">
          <span>已选择{{selected_num}}项</span>
      </h1>
      <div class="buttons" style="right: 12px !important;" ng-click="allCheck()">
          <i class="r-icon" style="display: flex;align-items: center;width:4em;justify-content: flex-end;">{{isAllcheck?"全不选":"全选"}}</i>
      </div>
  </ion-header-bar>
  <style type="text/css">
    .device-item.item-complex .item-content, .device-list-box ion-item{height: auto;padding: 0;}
    .item-complex .item-content, .item-radio .item-content{height: auto;padding: 0;}
    .device-list-box ion-item>div, .device-item.item-complex .item-content>div{padding: 0;}
    .side_box{width: 100%;height: auto;padding:0 0 0 12px;background-color: #fff;}
    .side_border{width: 100%;display: flex;justify-content: space-between;align-items: center;padding:10px 12px 10px 0;border-top: 1px #f0f0f0 solid;}
    .sideslipList_box{border-top: 1px #f0f0f0 solid;border-bottom: 1px #f0f0f0 solid;}
    .sideslipList_box ._sideslip_item:first-child .side_box .side_border{border-top: 0 #f0f0f0 solid;}
    .side_img{width: 60px;height: 60px;border-radius: 50%;overflow: hidden;margin-right: 12px;background-color: #e5e5e5;}
    .side_img img{width: 100%;height: 100%;}
    .side_l{display: flex;flex: 1;}
    .side_center{height:60px;overflow: hidden;}
    .side_centert{font-size: 19px;color: #000000;height: 30px;line-height: 30px;text-align: left;}
    .side_centert text{font-size:14px;color: #999999;margin-left: 7px;max-width: 5em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .side_centerb{font-size: 16px;color: #666666;height: 30px;line-height: 30px;display: flex;align-items: center;}
    .side_centerb div{margin-left:7px;}
    .side_centerb div:first-child{margin-left: 0;}
    .side_centerb .guard,.side_centerb .attendance{font-size:12px;padding: 0 5px;border-radius: 2px;height: 18px;line-height: 18px;}
    .side_centerb .guard{background-color: #e0f9f3;color: #2cd7ad;}
    .side_centerb .attendance{background-color: #e5f3ff;color: #53afff;}
    .text_overflow{max-width: 150px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .nomoredatatext{background-color: #f8f8f8;color: #aaaaaa;text-align: center;height: 44px;font-size:16px;line-height: 44px;}
    .side_r{display: flex;padding-right: 12px;}
    .side_r .side_rit{width: 24px;height: 24px;position: relative;margin-left: 25px;}
    .side_r .side_rit:first-child{margin-left:0;}
    .side_rit .rit_bg{width: 24px;height: 24px;position: absolute;top: 0;left: 0;}
    .side_rit .rit_rt{width: 16px;height: 16px;position: absolute;top: -7px;right: -7px;}
    .side_rit .rit_rt img{width: 16px;height: 16px;position: absolute;top:0;right:0;}
    .side_rit .rit_rt div{width: 16px;height: 16px;position: absolute;top:0;right:0;text-align: center;line-height: 16px;color: #fff;font-size: 10px;}
    .side_r .side_self{font-size: 10px;
        height: 17px;
        line-height: 17px;
        border-radius: 4px;
        padding: 0 5px;
        border: 1px #999 solid;
        color: #999;
        }
    ion-list .item-remove-animate:first-child .side_border{border-top: none;}
    .list,.scroll{height: 100%;}
    .button.button-light{background-color: #f8f8f8;color: #f00;}
    .delete_btn{display: flex;flex-direction: column;align-items: center;justify-content: center;}
    .delete_btn img{width: 24px;height: 24px;}
    .delete_btn div{line-height: 30px;height: 30px;}
    .item{border:none;margin:0;padding: 0;}
    .btm_tabbar{position: fixed;width: 100%;height: 50px;bottom: 0;left: 0;background-color: #fff;border-top: 1px #f0f0f0 solid;z-index: 3;}
    .tab_box{display: flex;width: 100%;height: 100%;font-size: 14px;}
    .tab_item{flex: 1;display: flex;align-items: center;justify-content: center;color: #457bc7;border-left: 1px #f0f0f0 solid;font-size: 17px;}
    .tab_box .tab_item:first-child{border-left: none;}
    .tab_item img{width: 20px;height: 20px;margin-right: 10px;}
    .tab_item div{display: flex;align-items: center;justify-content: center;}
    .noDatabg{padding: 112px 50px;text-align: center;}
    .noDatabg img{width: 160px;height:125px;margin: 0 auto;}
    .noDatabg div{margin-top: 9px;color: #c8c8c8;font-size: 16px;}
    .nomoredatatext{background-color: #f8f8f8;color: #aaaaaa;text-align: center;height: 44px;font-size:16px;line-height: 44px;}
    .list,.scroll{height: 100%;}
    .checkbox img{width: 23px;height: 23px;}
    .checkbox {display: flex;margin-right: 10px;align-items: center;padding: 0;}
  </style>
  <ion-content  has-bouncing="true" overflow-scroll="false" class="emp_list_content" style="bottom:50px;margin-top: 10px;">
  
    <!-- 没有数据展示 -->
    <div class="noDatabg" ng-show="Data.length==0&&!isSearch&&total_num==0">
      <img ng-src="{{local_resource + page_name=='admin'?'img/icon/no_data_set.png':'img/no_data.png'}}" />
      <div>暂无数据</div>
    </div>
    <!-- 有数据展示 -->
    <ion-list ng-if="Data.length">
      <ion-item ng-repeat="item in Data" class="item-remove-animate" ng-click="select($index)">
        <div>
          <div class="side_box">
            <div class='side_border'>
              <view class='side_select'>
                <div class="checkbox">
                    <img ng-src="{{item.checked?local_resource +'img/icon/icon_select.png':local_resource +'img/icon/icon_no_select.png'}}">
                </div>
              </view>
              <div class='side_l'>
                <div class='side_img'><img ng-src="{{item.img_src}}" err-src="https://fufudev.zkcserv.com/cb_hrms/views/photos/nophoto.jpg" /></div>
                <div class='side_center'>
                  <div class='side_centert'>{{item.employee_name}}<Text>({{item.staff_no}})</Text></div>
                  <div class='side_centerb'>
                    <div class="text_overflow">{{item.position_name}}</div>
                    <div ng:if="item.is_access_control==1" class="guard">门禁</div>
                    <div ng:if="item.is_sign_in==1" class="attendance">考勤</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
      <div class='nomoredatatext' ng:show="Data.length==total_num&&Data.length!=0">没有更多数据了</div>
      <ion-infinite-scroll
        ng-if="Data.length<total_num"
        distance="5%"
        immediate-check="false"
        on-infinite="loadMore()">
      </ion-infinite-scroll>
    </ion-list>
    
       
  </ion-content>

  <div class="btm_tabbar">
    <div class='tab_box'">
      <div class='tab_item' style="color: #ff0000;" ng-click='deleteStaff()'>
        确认删除
      </div>
    </div>
  </div>
</ion-view>
